<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Register Networks and Devices</title>

  </head>


  <body>

  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Store <small>Network and Device Registration</small>
				</h1>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">Navbar</a>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>

                <form class="form-inline my-2 my-lg-0" method="get" action="/logout">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>
              </div>
            </nav>

		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
		</div>
	</div>
	<div class="row">

		<div class="col-md-4">
            <form action="" method="post">

                <div class="form-group">
                    <label for="hideShowForm">Select:</label>
                    <select class="form-control" id="hideShowForm">
                      <option value="new">New Network</option>
                      <option value="existing">Existing Network</option>
                    </select>
                </div>

                <div id="newNetForm">

              <div class="form-group">
                <label for="netNameInput">Network: </label>
                  {{ form.net_name(class_="form-control", id="netNameInput", placeholder="Type a Network Name") }}
                  <!--
                  <input type="text" class="form-control" id="netNameInput" placeholder="Type a Network Name">
                  -->
              </div>

              <div class="form-group">
                <label for="netTypeSelect">Select Network Type: </label>
                  {{ form.net_type(class_="form-control", id="netTypeSelect") }}
                <!--
                <select class="form-control" id="netTypeSelect">
                  <option>appliance</option>
                  <option>switch</option>
                  <option>wireless</option>
                </select>
                -->
              </div>

              <div class="form-group">
                <label for="netTemplateSelect">Select Network Template: </label>
                  {{ form.net_template(class_="form-control", id="netTemplateSelect") }}
                  <!--
                <select class="form-control" id="netTemplateSelect">
                </select>
                -->
              </div>
                </div>

                <div id="existingNetForm">

                  <div class="form-group">
                    <label for="existingNetSelect">Select Network: </label>
                      {{ form.reg_nets(class_="form-control", id="existingNetSelect") }}
                      <!--
                    <select class="form-control" id="existingNetSelect">
                    </select>
                    -->
                  </div>

                </div>

              <div class="form-group">
                <label for="devicesTextarea">Enter Devices as serials and one for each line;</label>
                  {{ form.serial_nos(class_="form-control", id="devicesTextarea", rows="5") }}
                  <!--
                <textarea class="form-control" id="devicesTextarea" rows="5"></textarea>
                -->
              </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </div>
            </form>

		</div>
		<div class="col-md-8">
		</div>
	</div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

       <script type="text/javascript">

      $(document).ready(function(){
    $("#hideShowForm").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue=='new'){
                $("#newNetForm").show();
                $("#existingNetForm").hide();
            } else{
                $("#newNetForm").hide();
                $("#existingNetForm").show();
                }
            });
        }).change();
    });

      </script>

  </body>
</html>