<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">

      <title>Register Networks and Devices</title>
  </head>

  <body>

  <div class="container-fluid">
	<div class="row navbar navbar-light" style="background-color: #e3f2fd;">
			<div class="col-md-6 page-header">
				<h1>
					Store <small>Network and Device Registration</small>
				</h1>

			</div>
            <div class="col-md-6">
                <form class="form-inline my-2 my-lg-0 float-right" method="get" action="/logout">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                </form>

            </div>
<!-- optional nav-bar
			<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="#">Navbar</a>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>

              </div>
            </nav> -->

	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
            <form id="networkDeviceForm" action="" method="post">

                <div class="form-group pt-4">
                    <label for="selectNewExistingForm">Select:</label>
                    {{ form.new_or_existing(class_="form-control", id="selectNewExistingForm") }}
                    <!--
                    <select class="form-control" id="selectNewExistingForm">
                      <option value="new">New Network</option>
                      <option value="existing">Existing Network</option>
                    </select>
                    -->
                </div>

                <div id="newNetForm">

              <div class="form-group">
                <label for="netNameInput">Network: </label>
                  {{ form.net_name(class_="form-control", id="netNameInput", placeholder="Type a Network Name") }}
                  <!--
                  <input type="text" class="form-control" id="netNameInput" placeholder="Type a Network Name">
                  -->
              </div>

              <div class="form-group">
                <label for="netTypeSelect">Select Network Type: </label>
                  {{ form.net_type(class_="form-control", id="netTypeSelect") }}
                <!--
                <select class="form-control" id="netTypeSelect">
                  <option>appliance</option>
                  <option>switch</option>
                  <option>wireless</option>
                </select>
                -->
              </div>

                    <div id="templateFormArea">

              <div class="form-group">
                <label for="netTemplateSelect">Select Network Template: </label>
                  {{ form.net_template(class_="form-control", id="netTemplateSelect") }}
                  <!--
                <select class="form-control" id="netTemplateSelect">
                </select>
                -->
              </div>
                        </div>
                </div>

                <div id="existingNetForm">

                  <div class="form-group">
                    <label for="existingNetSelect">Select Network: </label>
                      {{ form.registered_nets(class_="form-control", id="existingNetSelect") }}
                      <!--
                    <select class="form-control" id="existingNetSelect">
                    </select>
                    -->
                  </div>

                </div>

              <div class="form-group">
                <label for="devicesTextArea">Enter Devices as serials and one for each line;</label>
                  {{ form.serial_nos(class_="form-control", id="devicesTextArea", rows="5") }}
                  <!--
                <textarea class="form-control" id="devicesTextarea" rows="5"></textarea>
                -->
              </div>

                <div id="formErrorDiv" style="color:red;padding: 5px;">
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    <button id="saveFormButton" class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </div>

            </form>

		</div>
		<div class="col-md-8">
            <div id="netTableToolbar">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteSelectedModal">
                    Delete Network
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteSelectedModal" tabindex="-1" role="dialog" aria-labelledby="deleteSelectedModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteSelectedModalLabel">Delete Selected Network(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center" style="color:red;">
                          Selected networks and devices bound to them will be deleted! <br>
                          <b style="color:black;">Are you sure?</b>
                          <div id="deleteResult" style="color:darkblue;text-align: left"></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="deleteSelectedNetsButton" type="button" class="btn btn-primary">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commitSelectedNetsModal">
                  Commit Network
                </button>

                <!-- Modal -->
                <div class="modal fade" id="commitSelectedNetsModal" tabindex="-1" role="dialog" aria-labelledby="commitSelectedNetsModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="commitSelectedNetsModalLabel">Commit Selected Network(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Do you confirm to commit selected network(s) to Meraki Cloud?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="commitSelectedNetsButton" type="button" class="btn btn-primary">Commit</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <table
                    id="networksTable"
                    class="table table-hover table-sm"
                    data-toggle="table"
                    data-search="true"
                    data-toolbar="#netTableToolbar"
                    data-click-to-select="true"
                    data-url="network.json"
                    data-pagination="true"
            >
              <thead class="thead-dark">
                <tr>
                    <th scope="col" data-field="state" data-checkbox="true"></th>
                    <th scope="col" data-field="rowNum" data-sortable="true">#</th>
                    <th scope="col" data-field="name" data-sortable="true">Network Name</th>
                    <th scope="col" data-field="type" data-sortable="true">Network Type</th>
                    <th scope="col" data-field="bound_template">Network Template</th>
                    <th scope="col" data-field="committed">Committed</th>
                </tr>
              </thead>
            </table>
            <!-- Networks Table End -->
            <br>

            <div class="dev-table-selector">
            <div id="devTableToolbar">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteSelectedDevsModal">
                    Delete Device
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteSelectedDevsModal" tabindex="-1" role="dialog" aria-labelledby="deleteSelectedDevsModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteSelectedDevsModalLabel">Delete Selected Device(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Do you confirm to delete selected device(s)?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="deleteSelectedDevsButton" type="button" class="btn btn-primary">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commitSelectedDevsModal">
                  Commit Device
                </button>

                <!-- Modal -->
                <div class="modal fade" id="commitSelectedDevsModal" tabindex="-1" role="dialog" aria-labelledby="commitSelectedDevsModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="commitSelectedDevsModalLabel">Commit Selected Device(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Do you confirm to commit selected device(s) to Meraki Cloud?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="commitSelectedDevsButton" type="button" class="btn btn-primary">Commit</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <table
                    id="deviceTable"
                    class="table table-hover table-sm"
                    data-search="true"
                    data-toolbar="#devTableToolbar"
                    data-pagination="true"
                    data-click-to-select="true"
            >
              <thead class="thead-light">
              <tr>
                  <th scope="col" data-field="state" data-checkbox="true"></th>
                  <th scope="col" data-field="rowNum" data-sortable="true">#</th>
                  <th scope="col" data-field="name" data-sortable="true">Device Name</th>
                  <th scope="col" data-field="serial" data-sortable="true">Device Serial</th>
                  <th scope="col" data-field="committed">Device Committed</th>
                  <th scope="col" data-field="network" data-sortable="true">Device Network</th>
              </tr>
              </thead>
                <tbody id="deviceTableBody"></tbody>
            </table>
                </div>
            <!-- Devices Table End -->
        </div>
	</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="static/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

  <script src="static/scripts.js"></script>


  </body>
</html>