<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
      <link href="../static/style.op.css" rel="stylesheet">


      <title>Register Networks and Devices</title>
  </head>

  <body>

  <div class="container-fluid">
	<div class="row navbar navbar-light" style="background-color: #e3f2fd;">
			<div class="col-md-6 page-header">
				<h1>
					Store <small>Network and Device Registration</small>
				</h1>

			</div>
            <div class="col-md-6">
                <form class="form-inline my-2 my-lg-0 float-right" method="get" action="/logout">
                  <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
	</div>
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
		</div>
	</div>

	<div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                {% if current_user.admin %}
                <a href="/users">Users</a>
                <a href="/groups">Groups</a>
                <a href="/networks">Networks</a>
                <a href="/devices">Devices</a>
                <hr>
                {% endif %}
                <a href="/operator/new_network">New Network</a>
                <a class="active" href="#">Add Devices</a>
            </div>
		</div>
		<div class="col-md-3">
            <form id="userAddDeviceForm" action="" method="post">

                  <div class="form-group">
                    <label for="existingNetSelect">Select Network: </label>
                      {{ form.registered_nets(class_="form-control selectpicker my-select", id="existingNetSelect", data_live_search="true") }}
                      <!--
                    <select class="form-control" id="existingNetSelect">
                    </select>
                    -->
                  </div>

              <div class="form-group">
                <label for="devicesTextArea">Enter Devices as Serials in Lines:</label>
                  {{ form.serial_nos(class_="form-control", id="devicesTextArea", rows="4") }}
                  <!--
                <textarea class="form-control" id="devicesTextarea" rows="5"></textarea>
                -->
              </div>

                <div id="formErrorDiv" style="color:red;padding: 5px;">
                    {% if error %}
                    <p class="error"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    <button id="addDeviceFormButton" class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
                </div>

            </form>

		</div>
		<div class="col-md-7">
            <div class="dev-table-selector">
            <div id="devTableToolbar">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteSelectedDevsModal">
                    Delete Device
                </button>
                <!-- Modal -->
                <div class="modal fade" id="deleteSelectedDevsModal" tabindex="-1" role="dialog" aria-labelledby="deleteSelectedDevsModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteSelectedDevsModalLabel">Delete Selected Device(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center" style="color:red;">
                        Selected devices are to be removed from networks?<br>
                          <b style="color:black;">Are you sure?</b>
                          <div id="deleteDeviceResult" style="color:darkblue;text-align: left"></div>
                      </div>
                      <div class="modal-footer">
                        <button id="deleteDevicesModalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="deleteSelectedDevsButton" type="button" class="btn btn-danger">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#commitSelectedDevsModal">
                  Commit Device
                </button>

                <!-- Modal -->
                <div class="modal fade" id="commitSelectedDevsModal" tabindex="-1" role="dialog" aria-labelledby="commitSelectedDevsModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="commitSelectedDevsModalLabel">Commit Selected Device(s)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Do you confirm to commit selected device(s) to Meraki Cloud?
                          <div id="commitDeviceResult" style="color:darkblue;text-align: left"></div>
                      </div>
                      <div class="modal-footer">
                        <button id="commitDeviceModalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="commitSelectedDevsButton" type="button" class="btn btn-success">Commit</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <table
                    id="deviceTable"
                    class="table table-hover table-sm"
                    data-search="true"
                    data-toolbar="#devTableToolbar"
                    data-pagination="true"
                    data-click-to-select="true"
            >
              <thead class="thead-light">
              <tr>
                  <th scope="col" data-field="state" data-checkbox="true"></th>
                  <th scope="col" data-field="rowNum" data-sortable="true">#</th>
                  <th scope="col" data-field="name" data-sortable="true">Device Name</th>
                  <th scope="col" data-field="model" data-sortable="true">Model</th>
                  <th scope="col" data-field="serial" data-sortable="true">Device Serial</th>
                  <th scope="col" data-field="committed">Device Committed</th>
              </tr>
              </thead>
                <tbody id="deviceTableBody"></tbody>
            </table>
                </div>
            <!-- Devices Table End -->
        </div>
	</div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="../static/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

  <script src="../static/scripts.js"></script>

    <div class="wait-modal"></div>
  </body>
</html>